//Colors



$object-sizes: (
    small : 6rem,
    big   : 12rem);


$red: #EF4B46;
$blue: #1e90ff;
$yellow: #efb543;
$white: #fff;
$black: #000;
$almost-black: #222;
$transparent: #fff0;


$red-message: #c54b4b;

$grey-default: #ccc;
$grey-dark: #3e3b3b;
$grey-light: #f3f3f3;


